[Unit]
Description=Phosphor Host Console SSH Per-Connection socket
Wants=obmc-console@ttyS4.service

[Socket]
ListenStream=8294
Accept=yes

[Install]
WantedBy=sockets.target